<!-- <h1>Parent Component</h1>
<a href="navi">Navi</a>&nbsp;
<a href="home">Home</a>&nbsp;
<a href="about">About</a>

<br>

<bm-testone></bm-testone>
<bm-testtwo></bm-testtwo>

<router-outlet></router-outlet> -->


<!-- <div class="container my-5">
    <div class="col-md-6 offset-md-3 table-bordered">
        <h1 class="text-center text-primary">Computer University</h1>
    </div>
    <p class="text-center">{{digits | bmadd}}</p>
</div> -->

<div class="container my-5">
    <div class="col-md-6 offset-md-3">
        <form class="form">
            <div class="input-group">
                <div class="input-group-addon">Username</div>
                    <div class="input form-control" name="username">
                    </div>
            </div>
            <p></p>
            <div class="input-group">
                <div class="input-group-addon">Password</div>
                <div class="input form-control" name="password">
                </div>
            </div>
            <p></p>
            <div class="input-group">
                <div class="input-group-addon">Language</div>
                <select name="language" class="form-control">
                    <option value=""></option>
                </select>
            </div>
        </form>
    </div>
</div>